<!-- <div class="card-body">
  <a (click)="onEdit(user)" class="card-title" data-bs-toggle="modal" data-bs-target="#exampleModal">Name: {{user.name}}</a>
  <p class="card-text">Email: {{user.email}}</p>
  <p class="card-text">Phone: {{user.phone}}</p>
  <p class="card-text">Website: {{user.email}}</p>
  <button (click)="onEdit(user)" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
  <button (click)="deleteUser(user)" class="btn card-btn">Delete</button>
</div> -->
